[submodule "NavioPi/Firmware"]
	path = NavioPi/Firmware
	url = git@github.com:hukaichun/Firmware_rpi.git
[submodule "NavioPi/rpi-tools"]
	path = NavioPi/rpi-tools
	url = git@github.com:hukaichun/tools.git
[submodule "NavioPi/mavlink"]
	path = NavioPi/mavlink
	url = https://github.com/mavlink/mavlink.git
[submodule "RinforecmentLearning"]
	path = ReinforcementLearning
	url = git@github.com:hukaichun/rl.git
[submodule "Simulator"]
	path = Simulator
	url = git@github.com:hukaichun/quad.git
